#main {
    height: 95vh;
    display: flex;
}

#main > div {
    margin: 1em;
}

.first {
    width: 35em;
    max-width: 35em;
    min-width: 35em;
}

.first > form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.second {
    flex-grow: 1;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin-bottom: 1em;
}

.expand {
    flex-grow: 1;
}

.controls > label {
    margin-right: 1em;
}

textarea {
    width: 100%;
    height: 100%;
}

.menu-list {
    list-style: none;
}

.menu-list > li {
    display: inline;
    margin-right: 1em;
}

.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 12px;
    margin: 10px;
}
